<!DOCTYPE html>
<html>
<head>
  <title>PxL</title>
 <%= stylesheet_link_tag "bootstrap.min", :media => "screen" %>
	<%= stylesheet_link_tag "bootstrap-responsive.min", :media => "screen" %>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
	<link href="assets/bootstrap.min.css" rel="stylesheet" media="screen">
	<!--<link href="assets/bootstrap-theme.min.css" rel="stylesheet" media="screen">-->
	<link href="assets/bootstrap-responsive.min.css" rel="stylesheet">
	

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
	</style>
</head>
<body>
  <header class="navbar navbar-fixed-top ">
      <div class="navbar-inner">
        <div class="container">
<div id=logo>
		  <%= image_tag("Logo.png") %>
</div>
         
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "Inicio",    'http://localhost:3000/' %></li>
              <li><%= link_to "Productos",    'http://localhost:3000/products/' %></li>
              <li><%= link_to "Nosotros", '#' %></li>
            </ul>
			<ul class="nav pull-right">
              <li><%= link_to "Iniciar Sesión",    'http://localhost:3000/' %></li>
			</ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

	<!-- carousel -->
					<div id="myCarousel" style="background:#000;" class="carousel slide hidden-phone">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						</ol>
						<div class="carousel-inner">
							<div class="item active">
								<%= image_tag("promo00.jpg") %>
								<div class="carousel-caption">
									<h4>La temporada de Halloween y Día de Muertos esta aquí </h4>
									<p>
										Joyería y accesorios para toda ocasión.
									</p>
								</div>
							</div>
							<div class="item">
								<%= image_tag("promo01.jpg") %>
								<div class="carousel-caption">
									<h4>Preparate para el concierto de Legend of Zelda en Diciembre </h4>
									<p>
										Joyería y accesorios para toda ocasión.
									</p>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
						<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
					</div>
					<!-- /carousel -->

    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.min.js"></script>
	<script>
			$('.carousel').carousel({
				interval : 2000
			})
	</script>

</body>
</html>
